<div class="container">
  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand">Instagram Example</a>
      <ul class="nav">
        <li class="active"><%= link_to "Home", root_path %></li>
      </ul>
    </div>
  </div>
</div>
<div class="container content">
  <%= form_tag("/user", method: "get", class: "form-inline") do %>
    <fieldset>
      <%= label_tag :q, "Select user:" %>
      <%= select_tag "name", options_for_select(@users.collect{ |u| u[:name] }), class: "span2" %>
      <%= button_tag "Go", class: "btn" %>
    </fieldset>
  <% end %>
</div>
